@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #fffcf4 25%, #f9e4e4 25%, #f9e4e4 50%, #fffcf4 50%, #fffcf4 75%, #f9e4e4 75%);
    background-size: 40px 40px;
}

.wrapper {
    position: relative;
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

i {
    display: inline-block;
    font-size: 7.5em;
    color: #bc1b1b;
    border: 5px solid transparent;
    outline: 5px solid #bc1b1b;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    line-height: 1.2em;
    vertical-align: middle;
}

h2 {
    font-size: 3em;
    color: #bc1b1b;
    margin: 15px 0;
    text-align: center;
}

.btn-group {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

button {
    position: relative;
    width: 150px;
    height: inherit;
    font-size: 1.2em;
    color: #fffcf4;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid #bc1b1b;
    outline: none;
    cursor: pointer;
    background: #bc1b1b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

button:nth-child(2) {
    background: transparent;
    color: #bc1b1b;
}

button:hover {
    background: #f9e4e4;
    color: #bc1b1b;
}

button:nth-child(2):hover {
    background: #bc1b1b;
    color: #fffcf4;
}
