@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #9a0b0e;
}

.wrapper {
    position: relative;
    width: 600px;
    height: 400px;
    background: #f2e3e4;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7.5em;
    color: #9a0b0e;
    border: 5px solid transparent;
    outline: 5px solid #9a0b0e;
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
    margin-bottom: 20px;
}

h2 {
    font-size: 3em;
    color: #9a0b0e;
    margin: 15px 0;
    text-align: center;
}

.btn-group {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

button {
    position: absolute;
    width: 150px;
    height: inherit;
    font-size: 1.2em;
    color: #f2e3e4;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid #9a0b0e;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

button:nth-child(1) {
    margin-left: -200px;
    background: #9a0b0e;
}

button:nth-child(2) {
    margin-right: -200px;
    background: #9a0b0e;
}
    
button.no-btn {
    background-color: #f2e3e4;
    color: #9a0b0e;
}
